/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Colors
$mainDark: #0143A3;
$mainLight: #1976D2;
$mainLighter: #027DDF;

$secondaryDark: #36474F;

$accentDark: #B32E31;
$accentLight: #E03237;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $secondaryDark;

$mainColor: #FFFFFF;
$headingColor: $accentLight;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $mainLighter;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$textAccent: $mainLight;

section.has-light-background {
   &, h1, h2, h3, h4, h5, h6 {
      color: #222;
   }
}

#title {
   margin: 0 0 0 0;
}

.highlight-text {
   color: $textAccent;
}

.comparison-container {
   width: 700px;
}

.comparison-container > div {
   float: left;
}

.comparison-container ul {
   font-size: 0.7em;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------